---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro"
import CodeIcon from "../components/icons/Code.astro"
import SectionContainer from "../components/SectionContainer.astro"
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import SkillsIcon from "../components/icons/SkillsIcon.astro"
import Projects from "../components/Projects.astro"
import Hero from "../components/Hero.astro"
import Skills from "../components/Skills.astro"
import LinkInline from "../components/LinkInline.astro"
---

<Layout title="Portafolio de Kelly Rodriguez"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <Hero/>
    </slot>
    </SectionContainer>
<div class="space-y-24">
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <CodeIcon class="size-7"/>
      Proyectos
    </h2>
      <Projects/>
    </SectionContainer>
    <SectionContainer>
    <LinkInline href="https://github.com/Kell9831">
      Más Proyectos{" "}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 icon icon-tabler icon-tabler-chevron-right"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <>
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 6l6 6l-6 6" />
        </>
      </svg>
    </LinkInline>
  </SectionContainer>

  <SectionContainer id="habilidades">
    <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <SkillsIcon class="size-7"/>
    Habilidades
  </h2>
    <Skills/>
  </SectionContainer>


    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Un poco más sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
