---
 const personalImageAlt = "Kelly"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Kelly Rodriguez, estudie ingeniera de Sistemas en donde pude dar mis primeros inicios hacia lo que hoy me lleva a seguir mi carrera entorno <strong
        >al desarrollo de software</strong
      >.
    </p>

    <p>
      Al finalizar mis estudios tuve la oportunidad de laboral en el sector financiero 
        donde lideré equipos y logré metas significativas. Durante este tiempo, <strong>desarrollé habilidades sociales y de liderazgo </strong> que sigo aplicando en mi carrera actual.
      
    </p>

    <p>
      Decidí especializarme en desarrollo de software y completé <strong>un curso intensivo de seis meses, donde trabajé en proyectos semanales en equipo, </strong> recibiendo buenos comentarios por mi colaboración y apoyo. 
        Esta experiencia no solo me permitió adquirir nuevos conocimientos técnicos, sino también mejorar <strong>mis habilidades de trabajo en equipo y colaboración. </strong>
      
    </p>
    <p>
      Me apasiona participar en charlas, capacitaciones y ver videos de expertos que ofrecen valiosos consejos y comparten experiencias sobre el éxito en el campo de la tecnología y la programación.<strong> Estoy comprometida con el aprendizaje continuo </strong> para seguir creciendo en este campo.
    </p>
  </div>

  <img width="200" height="200" src="/kell.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


