---
const personalImageAlt = "Kelly Rodriguez"
import LinkedInIcon from "../components/icons/LinkeIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import InstagramIcon from "../components/icons/Instagram.astro"
---

<div class="max-w-xl flex items-center justify-center md:justify-start md:gap-8">
  <div class="md:flex-grow-0">
    <h1 class="text-4xl font-bold tracking-tight sm:text-5xl dark:text-white text-center">
      Kelly Rodriguez
    </h1>
    <p class="mt-6 text-xl [&>strong]:text-pink-500 [&>strong]:font-semibold dark:text-gray-300">
      <strong>Ingeniera de Sistemas y Desarrolladora de Software</strong> de Lima, Peru 🇵🇪. Apasionada por el desarrollo de aplicaciones web únicas y en proceso de especialización.
    </p>
  </div>
  <img
    class="hidden md:block rounded-full shadow-lg"
    src="/profile.webp"
    alt={personalImageAlt}
    width="180"
    height="auto"
    style="max-width: 60%;"
  />
</div>


<nav class="flex flex-wrap gap-4 mt-8 justify-center">
  <SocialPill href="https://www.linkedin.com/in/kelly-carrion/">
    <LinkedInIcon class="size-4 md:size-6"/>
    LinkedIn
  </SocialPill>

  <SocialPill href="https://github.com/Kell9831">
    <GitHubIcon class="size-4 md:size-6"/>
    Github
  </SocialPill>

  <SocialPill href="mailto:kellycarrion31@gmail.com">
    <MailIcon class="size-4 md:size-6"/>
    Correo
  </SocialPill>

  <SocialPill href="https://www.instagram.com/kellkyrc/">
    <InstagramIcon class="size-6"/>
    Instagram
  </SocialPill>

</nav>

