---
import Html from "../components/icons/Html.astro";
import Css from "../components/icons/Css.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import React from "../components/icons/React.astro";
import Git from "../components/icons/Git.astro";
import GitHub from "../components/icons/GitHub.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Figma from "../components/icons/Figma.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import Jwt from "../components/icons/Jwt.astro";
import Postgresql from "../components/icons/Postgres.astro";
import Express from "../components/icons/Express.astro";


const NodeIcon = "/node-js.png"
---

<div class="flex flex-wrap gap-4 border dark:text-white border-gray-200 p-4 rounded-lg shadow-md">
    <Html class="w-16 h-16" />
    <Css class="w-16 h-16" />
    <JavaScript class="w-16 h-16" />
    <React class="w-16 h-16" />
    <img src={NodeIcon} alt="Node.js" class="w-16 h-16">
    <TypeScript class="w-16 h-16" />
    <Postgresql class="w-16 h-16" />
    <Git class="w-16 h-16" />
    <GitHub class="w-16 h-16" />
    <Jwt class="w-16 h-16" />
    <Tailwind class="w-16 h-16" />
    <Figma class="w-16 h-16" />
    <Express class="w-16 h-16" />
  </div>

